body{
	margin: 0 0 0 0;
	background: url(../images/degs/deg_blue_ink.png) repeat-x;
	}
	
p,a{
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	}
		
p{
	color: #000;
	}
		
a{
	text-decoration: none;
	}
		
a img{
	border: none;
	}
	
hr{
	color: gray;
	margin-bottom: 40px;
}
	
			
#header-bg{
	background-color: #00112e;
	width: 100%;
	height: 65px;
	display: block;
	}	
			
#page{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: -65px;
	display: block;
	min-height: 600px;
	}
			
#header{
	width: 100%;
	height: 65px;
	display: block;
	}
			
#logo{
	width: 120px;
	height:55px;
	background: url('../images/logo.png') no-repeat;
	margin-bottom: 10px;
	margin-left: 10px;
	display: block;
	}
			
#nav-bar{
	width: 70%;
	height: 65px;
	float: right;
	margin-top: -55px;
	}
			
#banner{
	width: 100%;
	height: 155px;
	}
			
#image-banner{
	width: 200px;
	height:130px;
	background: url('../images/examen.png') no-repeat;
	margin-bottom: 10px;
	margin-left: 10px;
	}
			
#motd{
	width: 400px;
	height: 100px;
	background: url('../images/motd.png') no-repeat;
	float: right;
	margin-top: -100px;
	margin-right: 20px;
	}
			
#content{
	width: 100%;
	
	}
			
.help{
			
	}
			
#options, #mainsection{
	width: 70%;
	height: 400px;
	float: right;
	}

#options{
	margin-top: -15px;
}
			
#sidebar{
	width: 30%;
	height: 400px;
	margin-bottom: 10px;
	}
			
.inside-sidebar{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
	}
			
#login-info{
	background: url('../images/user.png') no-repeat;
	border-bottom: 1px solid gray;
	margin-bottom: 2px;
	}
			
#login-info p{
	color: #008209;
	display: inline;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	padding-left: 18px;
}
			
#logounicor{
	background: url('../images/logounicor.jpg') no-repeat;
	height: 130px;
	width: 55%;
	margin-left: 30%;
}
		
a:hover{
	text-decoration: underline;
	}
		
#nav-bar a{
	color: white;
	}
		
#nav-bar a:hover{
	color: yellow;
	}
		
#nav-bar ul{
	margin-top: 22px;
	float: right;
		}
		
#nav-bar li{
	height: 40px;
	display: inline-block;
	padding: 2px 2px 0 2px;
	margin-left: 1px;
	}
		
		
#options table{
	margin-top: 40px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;		
	}
		
#options table td{
	background-color: #fff;
	border: none;
	}
		
#options table td:hover{
	background-color: #97beff;
	}
		
#sidebar li{
	list-style: none;
	text-align: center;
	}
			
#sidebar li p{
	font-size: 0.8em;
	}
			
#sidebar ul{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	padding: 2px 2px 2px 2px;
	}
			
#menubanner{
	margin-top: 10px;
	float: right;
	width: 70%;
	height: 25px;
	background: url('../images/menubg.png') no-repeat 0px 5px;
	margin-bottom: 1px;
	}
			
#footer{
	width: 100%;
	height: 100px;
	border-top: 1px solid #555;
	}
			
#footer p{
	font-size: 13px;
	font-style: italic;
	font-family: Georgia;
	color: #555;
	float: left;
	margin-top: 1px;
	}
	
#login-form{
	width: 35%;
	height: 245px;
	margin-top: 0;
	background-color: #25b300;
	float: right;
	}
			
#login-form ul{
	margin: 0 0 0 0;
	padding: 20px 0 30px 0;
	}
			
#login-form li{
	text-align: center;
	margin-top: 10px;
	}
			
#login-form p{
	color: white;
	font-family: Georgia;
	font-style: italic;
	font-size: 18px;
	}
			
#login-form a{
	color: yellow;
	font-size: 12px;
	}

#info{
	width: 60%;
	height: 235px;
	margin-left: 5px;
	margin-bottom: 40px;
	padding-top: 10px;
	}
			
#info p{
	text-align: justify;
	padding-left: 5%;
	line-height: 24px;
	}
			
.antetitulos{
	font-family: Georgia;
	font-size: 24px;
	font-style: italic;
	}
	
#login-form p.error{
	font-family: Arial;
	font-size: 12px;
	color: red;
	font-style: normal;
	text-align: center;
	display: block;
	margin-top:0px;
	margin-bottom: 0px;
}

#sidebar #resumencron p, #sidebar #resumenrendimiento p{
				font-size: 10px; 
			}
			
			#sidebar #resumenrendimiento p{
				text-align: left;
			}
			
			#sidebar #resumencron span.fecha, #sidebar #resumenrendimiento span.item{
				color: red;
			}
			
			#sidebar #resumencron li{
				background: url('../images/examevt.jpg') no-repeat 10px 0px;
			}
			
			#sidebar #resumencron li p{
				display: block;
				width: 120px;
				padding-left: 27px;
			}
			
			#sidebar #resumencron p.title, #sidebar #resumenrendimiento p.title{
				margin-bottom: 1px;
				font-size: 12px;
				display: block;
				height: 17px;
				padding-left: 27px;
				padding-top: 7px;
			}
			
			#sidebar #resumencron p.title{
				background: url('../images/cronmin.png') no-repeat;
			}
			
			#sidebar #resumenrendimiento p.title{
				background: url('../images/reportmin.png') no-repeat;
			}
			
			#sidebar #resumencron ul,#sidebar #resumenrendimiento ul{
				margin-top: 1px;
			}
			
			#mainsection #nav{
				width:100%;
				display:block;
				height: 20px;
			}
			
			#mainsection #nav a{
				font-size: 11px;
				font-weight: bold;
			}
			
			#mainsection #nav ul{
				display: block;
			}
			
			#mainsection #nav li{
				display: inline;
				float: right;
			}
			
			#content #nav a.back{
				background: url('../images/back.png') no-repeat;
				padding-left: 20px;
			}
			
			#mainsection .tituloseccion, #createstform .tituloseccion{
				margin-left: 10px;
				height: 32px;
				width: 100%;
				border-bottom: 1px solid #ccc;
			}
			
			#mainsection .tituloseccion h3, #createstform .tituloseccion h3{
				font-family: Trebuchet MS, Georgia;
				font-weight: bold;
				font-size: 20px;
				padding-left: 35px;
				padding-top: 5px;

			}
			
			#mainsection #cronograma #titulocron{
				background: url('../images/cron32.png') no-repeat;
				margin-bottom: 10px;
			}
			
			#mainsection #cronograma #tituloevt{
				margin-top: -10px;
				background: url('../images/event.png') no-repeat;
			}
			
			#mainsection #calendar{
				display: block;
				margin-left: 5%;
				margin-right: 5%;
				width: 90%;
			}
			
			#mainsection #calendar table{
				width: 100%;
			}
			
			#mainsection #calendarcontrols table td{
				border: 0;
			}
			
			#mainsection table#cal td{
				border: 0;
			}
			
			#mainsection table#cal td#aleft{
				background: url('../images/arrow_state_blue_left.png') no-repeat 8px 0px;
				width: 16px;
				height: 16px;
			}
			
			#mainsection table#cal td#aright{
				background: url('../images/arrow_state_blue_right.png') no-repeat 96% 0px;
				width: 16px;
				height: 16px;
			}
			
			#mainsection table#cal td#aleft:hover{
				background: url('../images/arrow_state_yellow_left.png') no-repeat 8px 0px;
				
			}
			
			#mainsection table#cal td#aright:hover{
				background: url('../images/arrow_state_yellow_right.png') no-repeat 96% 0px;
			}
			
			#mainsection #eventos{
				width: 100%;
			}
			
			#mainsection #eventos ul{
				width: 100%;
				margin-left: 0px;
			}
			
			#mainsection #eventos li{
				background: url('../images/examevt.jpg') no-repeat 0px 0px;
				padding-left: 24px;
				display: block;
			}
			
			#mainsection #eventos span.hora{
				color: red;
			}

						input.text{
				width: 100%;
			}
			
			input.text{
				height:30px;
				font-size: 24px;
				padding: 2px 2px 2px 2px;
				font-family: Georgia, Arial, sans-serif;
				background-color: #fcfc80;
				border: 1px solid orange;
			}
			
			#boxes #createstform ul{
				width: 90%;
				margin-left: 0px;
				padding-left: 0px;
			}
			
			#boxes #createstform li{
				display: block;
				margin: 4px 1px 4px 1px;
				padding: 4px 1px 4px 1px;
			}
			
			#boxes #createstform p{
				display: inline;
			}
			
			#boxes #createstform select{
				width: 100%;
			}
			
			a.ui-selectmenu.ui-widget.ui-state-default.ui-selectmenu-dropdown.ui-corner-all, a.ui-selectmenu.ui-widget.ui-state-default.ui-selectmenu-dropdown.ui-state-active.ui-corner-top{
				width: 100% !important;
			}
			
			ul.ui-selectmenu-menu.ui-widget.ui-widget-content.ui-selectmenu-menu-dropdown.ui-corner-bottom.ui-selectmenu-open{
				width: 285px !important;
			}
			
			#boxes #createstform table{
				width: 100%;
			}
			
			#boxes #createstform td{
				border: none;
			}
			
			#boxes #createstform a#btnok, #boxes #createstform a#btncancel{
				width: 100px;
				height: 45px;
				background-color: #ccc;
				display: block;
			}
			
			#boxes #createstform a#btnok{
				background: url('../images/btnok.png') no-repeat;
			}
			
			#boxes #createstform a#btncancel{
				float: right;
				background: url('../images/btnatras.png') no-repeat;
			}
			
			#createstform .tituloseccion{
				background-color: #ccc;
			}
			
			#createstform #titulotestform{
				background: url('../images/exam.png') no-repeat;
				margin-top: -25px;
			}
			
			#content #test{
				background-color: #cdecf7;
				width: 100%;
				height: auto;
			}
			
			#content #test p{
				display:inline;
				font-size: 16px;
				text-align: justify;
				line-height: 30px;
				font-family: Georgia, arial, sans-serif;
			}
			
			#content #test #head{
				background-color: #06799f;
				width:100%;
				height: 50px;
			}
			
			#content #test #head ul{
				display: block;
				width: 100%;
				margin: 0 0 0 0;
				padding: 12px 0 0 0;
			}
			
			#content #test #head li{
				display: inline;
				padding-left: 8px;
				padding-right: 8px;
			}
			
			#content #test #head p{
				color: #fff;
				font-size: 18px;
			}
			
			#content #test #head li#areapregunta{
				float: right;
			}
			
			#content #test #pregunta, #content #test #respuesta, #content #test #opciones{
				width: 80%;
				margin-left: 10%;
				margin-right: 10%;
				margin-top: 20px;
				display: block;
			}
			
			#content #test #pregunta p{
				font-style: italic;
				font-size: 20px;
				line-height: 36px;
			}
			
			#content #test #respuesta{
				height: 40%;
			}
			
			#content #test #respuesta li{
				margin-top: 15px;
			}
			
			#content #test #opciones{
				height: 10%;
				padding-bottom: 20px;
			}
			
			#content #test #opciones ul{
				width: 100%;
				height: 50px;
				text-align: center;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}
			
			#content #test #opciones ul li{
				display: inline;
				margin-left: 4px;
			}
			
			#content #test #opciones input.btn{
				background-color: #18718f;
				border: 1px solid #18718f;
				width: auto;
				height: 50px;
				color: #fff;
				font-family: Georgia, Arial, sans-serif;
				font-size: 18px;
			}
			
			#content #test #opciones input.btn:hover{
				cursor: hand;
				color: yellow;
			}
			
			.hidden{
				display: none !important;
			}
